@import "tailwindcss";

@theme {
  --color-primary: rgb(16 23 42);
  --color-primary-light: rgb(26 35 66);
  --color-primary-dark: rgb(10 15 26);
  
 /* Secondary Colors */
  --color-secondary: rgb(249 170 25);     
  --color-secondary-light: rgb(251 191 77); 
  --color-secondary-dark: rgb(217 149 13); 

  /* Status Colors */
  --color-success: rgb(16 185 129);
  --color-warning: rgb(245 158 11);
  --color-error: rgb(239 68 68);
  --color-info: rgb(59 130 246);
}


